  
{% extends 'base.html' %}

{% block head %}
    <title>Task Master</title>
{% endblock %}

{% block body %}
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Morphe my face</a>
        </div>
      </div>
    </nav>
    <!-- First Container (Grid) -->
    <div class="container-fluid bg-1">

      <div class="col-sm-12">
        <div class="col-sm-8">
          <div class="row text-center">
            For best results, look straight into the camera with a neutral expression, with your face filling half of the screen
          </div>
          <div class="row text-center">
            &nbsp;
          </div>
          <div class="row">
            <div class="col-sm-6 text-center">
              <div class="row">
                  <h5 class="text-center">Camera</h5>
              </div>
              <div class="row">
                <video autoplay class="bg-3" id="video"></video>
              </div>
              <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-4">
                  <button id="snap" class="btn btn-outline-primary btn-sm">Snap Photo</button>
                </div>
                <div class="col-sm-4">
                  <input id="imageLoader" class="form-control" name="imageLoader" type="file" />
                </div>
                <div class="col-sm-2">

                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="row"><h5 class="text-left">Change Expression and select button</h5></div>
              <div class="row"><div class="float-left btn btn-primary" id="happy">Happy</div></div>
              <div class="row"><div class="btn btn-primary" id="sad">Sad</div></div>
              <div class="row"><div class="btn btn-primary" id="surprised">Surprise</div></div>
              <div class="row"><div class="btn btn-primary" id="disgust">Disgust</div></div>
              <div class="row"><div class="btn btn-primary" id="angry">Angry</div></div>
              <div class="row"><div class="btn btn-primary" id="fear">Fear</div></div>
            </div>
            <div class="col-sm-4">
              <div class="row"><div><canvas id="myChart" width="400" height="300"></canvas></div></canvas></div>
              
            </div>
            
          </div> <!-- row -->
        </div> <!-- col-sm-8 -->
        <div class="col-sm-4 text-center">
          <div class="row">
            <canvas class="bg-3" id="canvas"></canvas>
          </div>
          <div class="row">
            <h4 class="text-center" id="result"> </h4> 
            <div class="container-fluid bg-3 text-center">
            </div>
            <img class="bg-2" id="canvasMorph" width= "auto" height=auto></img>
            <button type="button" class="btn btn-primary" id="imageClassifier">Classify Image</button>
            <button type="button" class="btn btn-primary" id="morph">Download Image</button>
            <div class= "row">
              <button type="button" class="btn btn-primary" id="reuse">Classify Morph Image</button>
            </div>
          </div>
        </div> <!-- col-sm-4 -->
      </div> <!-- col-sm-12 -->

    </div><!-- container-fluid bg-1 -->
    <!-- Footer -->
     <footer class="bg-2 footer-class navbar navbar-fixed-bottom">
        <p>Morphe my face by Samia</p>
    </footer>


<script>
  (function() {
    // The width and height of the captured photo. We will set the
    // width to the value defined here, but the height will be
    // calculated based on the aspect ratio of the input stream.

    var width = 320;    // We will scale the photo width to this
    var height = 0;     // This will be computed based on the input stream

    // |streaming| indicates whether or not we're currently streaming
    // video from the camera. Obviously, we start at false.

    var streaming = false;

    // The various HTML elements we need to configure or control. These
    // will be set by the startup() function.

    var video = null;
    var canvas = null;
    var startbutton = null;

    function startup() {
      video = document.getElementById('video');
      canvas = document.getElementById('canvas');
      startbutton = document.getElementById('snap');

      navigator.mediaDevices.getUserMedia({video: true, audio: false})
      .then(function(stream) {
        video.srcObject = stream;
        video.play();
      })
      .catch(function(err) {
        console.log("An error occurred: " + err);
      });

      video.addEventListener('canplay', function(ev){
        if (!streaming) {
          height = video.videoHeight / (video.videoWidth/width);
        
          // Firefox currently has a bug where the height can't be read from
          // the video, so we will make assumptions if this happens.
        
          if (isNaN(height)) {
            height = width / (4/3);
          }
        
          video.setAttribute('width', width);
          video.setAttribute('height', height);
          canvas.setAttribute('width', width);
          canvas.setAttribute('height', height);
          streaming = true;
        }
      }, false);

      startbutton.addEventListener('click', function(ev){
        takepicture();
        ev.preventDefault();
      }, false);
      
      clearphoto();
    }

    // Fill the photo with an indication that none has been
    // captured.

    function clearphoto() {
      var context = canvas.getContext('2d');
      context.fillStyle = "#AAA";
      context.fillRect(0, 0, canvas.width, canvas.height);

    }
    
    // Capture a photo by fetching the current contents of the video
    // and drawing it into a canvas, then converting that to a PNG
    // format data URL. By drawing it on an offscreen canvas and then
    // drawing that to the screen, we can change its size and/or apply
    // other changes before drawing it.

    function takepicture() {
      var context = canvas.getContext('2d');
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);

      } else {
        clearphoto();
      }
    }

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener('load', startup, false);
  })();

var imageLoader = document.getElementById('imageLoader');
imageLoader.addEventListener('change', handleImage, false);
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');

function handleImage(e) {
var reader = new FileReader();
reader.onload = function (event) {
    var img = new Image();
    img.onload = function () {
        canvas.width = img.width;
        canvas.height = img.height;
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");
        ctx.drawImage(img, 0, 0);
    }
    img.src = event.target.result;
}
reader.readAsDataURL(e.target.files[0]);
}


var imageClassifier = document.getElementById('imageClassifier');

imageClassifier.addEventListener('click', classifyImage, false);

function classifyImage(e) {
    console.log('hello');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/classify-image",
        data: {
            imgBase64: dataURL
        },
        success: function(data){

            rep = data.replace("[",""),
            rep = rep.replace("]",""),
            _data= rep.valueOf(),
            
            array = _data.split(","),

             console.log(typeof array);
            
            // $('#result').text(' Predicted Output: '+array);
            new Chart(document.getElementById("myChart"), {
            type: 'horizontalBar',
            data: {
              labels: ["surprised", "fearful", "disgusted", "happy", "sad", "angry", "neutral"],
              datasets: [
              {
                label: "Expression Probability",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#8e5ea2", "#3cba9f"],
                data: array,
              }
              ]
              },
                options: {
                  scales: {
                    xAxes: [{
                        stacked: true,
                        ticks: {
                                        suggestedMin: 0, //min
                                        suggestedMax: 1 //max 
                                    }
                    }],
                    yAxes: [{
                        stacked: true
                        
                    }]
                },
                legend: { display: false },
                title: {
                  display: true,
                text: 'Probability of Emotion'
              }
              }
            });
        
        }
    }).done(function (o) {
        console.log('Classification graph');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}

// get happy face from clicking the happy button to get image to canvasMorph
var happy = document.getElementById('happy');

happy.addEventListener('click', happyImage, false);
function happyImage(e) {
    console.log('happy');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/happy-image",
        data: {
            imgBase64: dataURL
        },
        success: function(happyFace){ // image url
          // array = happyFace.split(","),
          img = $('<img id="canvasMorph">')
          img.attr('src', 'data:image/png;base64,' + happyFace); // send image url to img id
          img.appendTo('#canvasMorph');
          console.log(typeof happyFace)
        }
    }).done(function (o) {
        console.log('saved');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}


// get surprised face from clicking the surprised button to get image to canvasMorph

var surprised = document.getElementById('surprised');

surprised.addEventListener('click', surprisedImage, false);
function surprisedImage(e) {
    console.log('surprised');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/surprised-image",
        data: {
            imgBase64: dataURL
        },
        success: function(surprisedFace){
          console.log(surprisedFace)
        }
    }).done(function (o) {
        console.log('saved');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}

// get fear face from clicking the fear button to get image to canvasMorph

var fear = document.getElementById('fear');

fear.addEventListener('click', fearImage, false);
function fearImage(e) {
    console.log('fear');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/fear-image",
        data: {
            imgBase64: dataURL
        },
        success: function(fearFace){
          console.log(fearFace)
        }
    }).done(function (o) {
        console.log('fear_restored');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}

// get disgust face from clicking the disgust button to get image to canvasMorph

var disgust = document.getElementById('disgust');

disgust.addEventListener('click', disgustImage, false);
function disgustImage(e) {
    console.log('disgust');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/disgust-image",
        data: {
            imgBase64: dataURL
        },
        success: function(disgustFace){
          console.log(disgustFace)
        }
    }).done(function (o) {
        console.log('disgust_restored');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}


// get sad face from clicking the sad button to get image to canvasMorph

var sad = document.getElementById('sad');

sad.addEventListener('click', sadImage, false);
function sadImage(e) {
    console.log('sad');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/sad-image",
        data: {
            imgBase64: dataURL
        },
        success: function(sadFace){
          console.log(sadFace)
        }
    }).done(function (o) {
        console.log('sad_restored');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}

// get angry face from clicking the angry button to get image to canvasMorph

var angry = document.getElementById('angry');

angry.addEventListener('click', angryImage, false);
function angryImage(e) {
    console.log('angry');
    // var dataURL = canvas.toDataURL();
    var dataURL = canvas.toDataURL('image/png');
    $.ajax({
        type: "GET",
        url: "/angry-image",
        data: {
            imgBase64: dataURL
        },
        success: function(angryFace){
          console.log(angryFace)
        }
    }).done(function (o) {
        console.log('fear_restored');
        // If you want the file to be visible in the browser
        // - please modify the callback in javascript. All you
        // need is to return the url to the file, you just saved
        // and than put the image in your browser.
    });
}

</script>
    {% endblock %}